	@font-face {
    font-family: "Pragmatica-book";
    src: url("../fonts/Pragmatica_book.woff2") format("woff2"), url("../fonts/Pragmatica_book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Pragmatica-bold";
    src: url("../fonts/Pragmatica_bold.woff2") format("woff2"), url("../fonts/Pragmatica_bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Pragmatica-medium";
    src: url("../fonts/Pragmatica_medium.woff2") format("woff2"), url("../fonts/Pragmatica_medium.woff") format("woff");
    font-weight: medium;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Pragmatica-light";
    src: url("../fonts/Pragmatica_light.woff2") format("woff2"), url("../fonts/Pragmatica_light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

	@font-face {
    font-family: "Pragmatica-black";
    src: url("../fonts/Pragmatica_black.woff2") format("woff2"), url("../fonts/Pragmatica_black.woff") format("woff");
    font-style: normal;
    font-display: swap;
	}

  html,
  body {
		margin: 0;
		padding: 0;
	}

	header {
		background: linear-gradient(to right,#f6f6f6 50%,white 50%);
	}

	header .container {
		background: linear-gradient(to right,#f6f6f6 840px,white 840px);
	}

	.main-content {
		background: linear-gradient(to right,#f6f6f6 50%,white 50%);
	}

	.main-content .container{
		background: linear-gradient(to right,#f6f6f6 840px,white 840px);
	}

  ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
  }

  a {
		text-decoration: none;
		color: black;
  }

  .container {
		width: 1280px;
		padding: 0 25px;
		box-sizing: border-box;
		margin: 0 auto;
  }

  .menu {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 21px;
		margin-bottom: 38px;
	}

	.menu__logo {
		margin-right: 111px;
	}

  .menu__list {
		width: 590px;
		margin-right: 19px;
		font-size: 0;
  }

  .menu__list li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-right: 42px;
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.05em;
  }

  .menu__list a {
    padding-left: 41px;
  }

	.menu__list li:last-child {
		margin-right: 0;
	}

	.menu__list li::after {
		content:"";
		position: absolute;
		width: 26px;
		height: 22px;
		left: 0;
		top: 0;
  }

	.menu__item--bus::after {
		background: url("../img/icon-bus.png") no-repeat;
	}

	.menu__item--conteen::after {
		background: url("../img/icon-conteen.png") no-repeat 5px 2px;
	}

	.menu__item--floor::after {
		background: url("../img/icon-floor.png") no-repeat;
	}

	.menu__item--territory::after {
    background: url("../img/icon-territory.png") no-repeat 8px 2px;
	}

	.menu__item--floor {
		margin-right: 48px;
	}

	.menu__list .menu__item--bus {
		margin-right: 35px;
	}

	.menu__item--territory a {
    padding-left: 45px;
	}

  .menu__number {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding-top: 18px;
		margin-right: 38px;
		border-radius: 50%;
		background-color: #e3e3e4;
		font-family: "Pragmatica-bold", "Arial", sans-serif;;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
	}

	.menu__user-area {
		display: flex;
		width: 341px;
		align-items: center;
	}

	.menu__search {
    width: 132px;
  }

  .menu__search:focus {
    outline: none;
  }

	.menu__search input {
		width: 120px;
		padding-left: 37px;
		box-sizing: border-box;
		border: none;
		font-size: 14px;
		line-height: 16px;
		background: url("../img/icon-search.png") no-repeat;
	}

	.menu__search::-moz-placeholder,
	.menu__search::-webkit-input-placeholder {
		color: #818285;
	}

	.menu__mail {
		display: block;
		position: relative;
		margin-right: 45px;
		width: 24px;
		height: 16px;
		font-size: 0;
		background: url("../img/icon-mail.png") no-repeat;
	}

	.menu__mail-number {
		position: absolute;
		display: block;
		padding: 3px;
		top: -50%;
		left: 70%;
		font-size: 8px;
		line-height: 10px;
		color: #fff;
		background-color: #ee2d24;
		border-radius: 4px;
	}

	.menu__user-profile {
		box-sizing: border-box;
		width: 142px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 21px;
		padding-left: 6px;
		border-radius: 20px;
		background-color: #fdda9d;
		font-size: 0;
	}

	.menu__user-photo {
		display: inline-block;
		vertical-align: middle;
		margin-right: 13px;
	}

	.menu__user-name {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 14px;
		line-height: 17px;
	}

	.nav {
		padding-bottom: 40px;
		font-family: "Pragmatica-medium", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

	.nav__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.nav__item--active a{
		color: #f04239;
	}

	.nav__item--active {
		padding-bottom: 24px;
		border-bottom: 2px solid #f04239;
	}

	.main-content .container {
		display: flex;
		justify-content: space-between;
		padding-bottom: 120px;
	}

	.promo {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		width: 815px;
		box-sizing: border-box;
		padding-right: 70px;
	}

	.promo__phrase {
		position: relative;
		padding: 27px 0;
		z-index: 0;
	}

	.promo__phrase::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 2000px;
		top: 0;
		right: 167px;
		background: #fff;
		z-index: -1;
	}

	.promo blockquote {
		margin: 0;
	}

	.promo__tv {
		width: 400px;
		margin-left: 315px;
		font-size: 0;
	}

	.promo__video-link {
		display: inline-block;
		vertical-align: top;
		width: 100px;
		height: 100px;
		position: relative;
		margin-right: 16px;
	}

	.promo__video-link img {
		display: block;
	}

	.promo__video-link::after {
		content:"";
		position: absolute;
		width: 36px;
		height: 24px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url("../img/icon-play.png") no-repeat center center;
	}
	.promo__description {
		display: inline-block;
		vertical-align: top;
	}

	.promo__description a {
		display: block;
	}

	.promo__description-small {
    margin-top: 17px;
		margin-bottom: 9px;
		font-family: "Pragmatica-book", "Arial", sans-serif;;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		color: #818285;
	}

	.promo__title {
		width: 240px;
		font-family: "Pragmatica-bold", "Arial", sans-serif;;
		font-size: 16px;
		line-height: 20px;
		color: #231f20;
	}

	.promo__author {
		max-width: 460px;
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 26px;
		line-height: 31px;
		font-style: normal;
		color: #221f1f;
	}

	.promo__text {
    width: 482px;
    margin-top: 27px;
    margin-bottom: 22px;
		font-family: "Pragmatica-book", "Arial", sans-serif;;
		font-size: 14px;
		line-height: 22px;
		color: #1f1f1f;
	}

	.promo__position {
		display: block;
		width: 220px;
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		color: #7f8085;
	}

	.user-news {
		position: relative;
		width: 417px;
		padding-left: 71px;
		box-sizing: border-box;
	}

	.user-news__item > * {
		display: block;
		padding-left: 67px;
	}

	.user-news__item time {
		margin-bottom: 8px;
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		color: #231f20;
	}

	.user-news small {
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		color: #7f8085;
	}

	.user-news__text {
    width: 240px;
		font-family: "Pragmatica-book", "Arial", sans-serif;;
		font-size: 13px;
		line-height: 18px;
		color: #1f1f1f;
  }

  .user-news__profile-name {
    margin-top: 12px;
    margin-bottom: 5px;
  }

	.user-news__text--important {
		color: #ee2d24;
	}

	.user-news__item {
		position: relative;
		margin-bottom: 40px;
	}

	.user-news__profile {
		margin-bottom: 52px;
	}

	.user-news__profile img {
		position: absolute;
		left:0;
		top: -50%;
	}

	.user-news__meeting::after,
	.user-news__archive::after {
		content: "";
		position: absolute;
		top: -10px;
		left: 10px;;
		width: 30px;
		height: 31px;
  }

  .user-news__archive::after {
    top: -8px;
    left: 8px;
  }

	.user-news__meeting::after {
		background: url("../img/icon-important.png") no-repeat center center;
	}

	.user-news__archive::after {
		background: url("../img/icon-archive.png") no-repeat center center;
	}

	.user-news__indicators {
		font-size: 0;
		padding-left: 70px;
	}

	.user-news__indicators input {
		display: none;
	}

	.user-news__indicators-item {
		display: inline-block;
		width: 13px;
		height: 13px;
		margin-right: 16px;
		border-radius: 50%;
		background-color: #e3e3e4;
		cursor: pointer;
	}

	.user-news__indicators-item:last-child {
		margin-right: 0;
	}

	.user-news__indicators input:checked + label {
		background-color: #fdda9d;
	}

	.hide-button {
		position: relative;
		width: 15px;
		height: 35px;
		font-size: 0;
		border: none;
		background: none;
		cursor: pointer;
	}

	.hide-button::before,
	.hide-button::after {
		content: "";
		position: absolute;
		display: block;
		width: 15px;
		height: 2px;
		left: 0px;
    background: #000000;
	}

	.hide-button::after {
		top: 10px;
		transform: rotate(135deg);
	}

	.hide-button::before {
    top: 20px;
		transform: rotate(45deg);
	}

	.hide-button.user-news__hide::after {
		top: 10px;
		transform: rotate(45deg);
	}

	.hide-button.user-news__hide::before {
    top: 20px;
		transform: rotate(135deg);
	}

	.promo__hide {
		position: absolute;
		right: 28px;
		bottom: -10px;
	}

	.user-news__hide {
		position: absolute;
		left: 28px;
		bottom: -10px;
	}

	.news {
		margin-top: -56px;
		margin-bottom: 60px;
	}

	.news__line {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 39px;
	}

	.news__text {
		display: block;
		width: 195px;
		margin-left: 11px;
		margin-bottom: 13px;
		font-family: "Pragmatica-book", "Arial", sans-serif;;
		font-size: 13px;
		line-height: 18px;
	}

	.news time {
		width: 195px;
		margin-left: 11px;
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		color: #7f8085;
	}

	.news__photo,
	.news__photo img {
		display: block;
	}

	.news__photo {
		position: relative;
		margin-bottom: 23px;
	}

	.news__item {
		width: 220px;
		margin-right: 20px;
	}

	.news__item:last-child {
		margin-right: 0;
	}

	.news__item time {
		display: block;
	}

	.news__photo--south::after,
	.news__photo--zsmk::after,
	.news__photo--ntmk::after {
		content: "";
		position: absolute;
		box-sizing: border-box;
		width: 60px;
		min-height: 60px;
		padding-top: 33px;
		padding-left: 7px;
		padding-right: 7px;
		left: 11px;
		bottom: -11px;
		font-family: "Pragmatica-black", "Arial", sans-serif;;
		font-size: 13px;
		line-height: 19px;
		color: #ffffff;
	}

	.news__photo--south::after {
		content: "ЮГ";
		background-color: #fcb53b;
	}

	.news__photo--zsmk::after {
		content: "ЗСМК";
		background-color: #ee2d24;
	}

	.news__photo--ntmk::after {
		content: "НТМК";
		background-color: #f57f29;
	}

	.news__more {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.btn {
		display: block;
		padding-top: 16px;
		padding-bottom: 14px;
		padding-left: 48px;
		padding-right: 26px;
		margin-right: 20px;
		border-radius: 25px;
		font-family: "Pragmatica-bold", "Arial", sans-serif;;
	  font-size: 10px;
		line-height: 10px;
		color: #231f20;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		background-color: #fdda9d;
	}

	a.news__my-region {
		padding-left: 44px;
		padding-right: 33px;
		background: #fdda9d url("../img/icon-region.png") no-repeat 15px center;
	}

	a.news__all {
		background: #fdda9d url("../img/icon-news.png") no-repeat 10px center;
	}

	.news__more a:last-child {
		margin-right: 0;
	}

	.footer__wrapper {
		display: flex;
		justify-content: space-between;
		padding-top: 58px;
		padding-bottom: 42px;
		border-top: 1px solid #e3e3e4;
	}

	.quotation__position {
		display: flex;
		justify-content: space-between;
		padding-top: 12px;
		padding-bottom: 15px;
		border-top: 1px solid #e3e3e4;
	}

	.quotation__position p {
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		margin: 0;
		font-size: 12px;
		line-height: 16.8px;
		color: #211f1f;
	}

	.quotation__position span {
		font-family: "Pragmatica-bold", "Arial", sans-serif;;
  }

  .quotation__price {
    width: 90px;
  }

  .quotation__points {
    width: 137px;
  }

  p.quotation__points-item {
    margin-bottom: 0px;
  }

	.quotation__position:last-child {
		border-bottom: 1px solid #e3e3e4;
	}

	.footer__wrapper > * {
		width: 285px;
	}

	.footer__quote {
		margin-top: 26px;
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 19px;
		color: #7f8085;
	}

	.hotline__title,
	.quotation__title,
	.portal__title {
		margin: 0;
		font-family: "Pragmatica-bold", "Arial", sans-serif;;
		font-size: 14px;
		line-height: 14px;
	}

	.hotline__title {
		margin-bottom: 13px;
		color: #ee2d24;
	}

	.quotation__title {
		margin-bottom: 17px;
	}

	.portal__title {
		margin-bottom: 10px;
	}

	.hotline__phone {
    display: block;
    padding-left: 3px;
		font-family: "Pragmatica-bold", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		color: #211f1f;
	}

	.hotline__small {
    padding-left: 3px;
    margin-top: 4px;
		margin-bottom: 13px;
		font-family: "Pragmatica-book", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		color: #818285;
	}

	.hotline__email {
    display: block;
    padding-left: 3px;
		margin-bottom: 25px;
		font-family: "Pragmatica-bold", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		color: #ee2d24;
	}

	.hotline__contact {
		display: inline-block;
		vertical-align: top;
		padding-left: 21px;
		padding-right: 21px;
	}

	.quotation time {
		display: block;
		margin-bottom: 17px;
		font-family: "Pragmatica-light", "Arial", sans-serif;;
		font-size: 12px;
		line-height: 14px;
		color: #7f7f85;
	}

	p.quotation__growth {
		color: #46ba01;
	}

	.quotation__growth--arrow-up {
		display: inline-block;
		vertical-align: top;
		margin-left: 5px;
		font-size: 0;
		height: 4px;
		border: 5px solid #46ba01;
		border-bottom-width: 7px;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-width: 0;
	}

	.quotation__points p {
		color: #7f8085;
	}

	.portal__list {
    font-family: "Pragmatica-light", "Arial", sans-serif;
		margin-bottom: 26px;
		font-size: 14px;
		line-height: 25px;
	}

	.additional {
    font-family: "Pragmatica-light", "Arial", sans-serif;
		font-size: 12px;
		line-height: 19px;
		color: #808185;
	}
